.countdown-container {
  border: 1px solid gray;
  padding: 3rem;
}

.timer-container {
  display: flex;
  justify-content: center;
}

.timer-inner-container {
  display: flex;
  justify-content: center;
  width: 12rem;
}

.timer-display {
  padding: 0 2rem 0 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
}

.action-buttons-container {
  margin-top: 2rem;
}